spring:
  application:
    name: cachingApp
  datasource:
    url: jdbc:h2:file:C:/Users/mkanh/test;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  redis:
    host: localhost
    port: 6379
    #username: default
    #password:
    #timeout: 6000
    ssl: false
    cache-null-values: false
    time-to-live: 600000 # 10 minutes in milliseconds
  cache:
    type: redis

server:
  port: 8080

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-operation-id: true
    tags-sorter: alpha
    operations-sorter: alpha
